:root {
    --main-color: #FFF;
    --pane-padding: 5px 42px;
  }

.body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.header {
    justify-content: center;
    flex-shrink: 0;
}

.nav {
    font-family: "Raleway", sans-serif;
    flex-shrink: 0;
    font-weight: 800 ;
    font-size: 18px ;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.logo {
    color: var(--iris, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
}

.logo-dark {
    color: var(--navyblue, #2E2F42);
}

.logo-light {
    color: var(--cloud, #F4F4FD);
}

.list {
    list-style: none
}

.header-nav {}

.ul1 {
    color: var(--navyblue, #2E2F42);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px;
}

.address {
    color: var(--navyblue, #2E2F42);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.section1 {
    background: var(--navyblue, #2E2F42);
    flex-shrink: 0;
    text-align: center;
}

.h1 {
    color: var(--white, #FFF);
    font-family: 'Roboto';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    text-align: center;
}

.button {
background: var(--iris, #4D5AE5);
/* Button text*/
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
color: var(--white, #FFF);
}

.section2{}

.li01 {
}

.h3 {
    color: var(--navyblue, #2E2F42);
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}

.p1 {
    color: var(--slate, #434455);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.section3{}

.h2 {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section4 {
    flex-shrink: 0;
    background: var(--cloud, #F4F4FD);
}

.li1 {
    padding-bottom: 0px;
    justify-content: center;
    background: var(--white, #FFF);
    }

.p2 {
    color: var(--cloud, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.footer {
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
}

.ul2 {
    flex-shrink: 0;
}


/*portfolio*/

.ulp {
    text-align: center;
    /* Button Text */
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}

.iris1 {
    background: var(--ocean, #404BBF);
    color: var(--white, #FFF);
    text-align: center;
}

.iris2 {
    justify-content: center;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

.iris3 {
    justify-content: center;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

.iris4 {
   justify-content: center;
   border: 1px solid var(--cornflower, #E7E9FC);
   background: var(--cloud, #F4F4FD);
}

.iris5 {
    justify-content: center;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}